<header class="header">
  <div class="header__inner">im in the header</div>
  <img src="<%- require('../../../assets/img/screenshot.png') %>" />
  <%- require('../../footer/html/index.ejs')() %>
</header>
